html {
}

html, body, img {
	margin: 0;
	padding: 0;
}

body {
	font-size: 13px;
	color: #333333;
	font-family: Helvetica,Arial;	
}

a {
	color: #0065CC;
	font-size: 100%;
	outline-style: none !important;
	outline-width: medium !important;
}

img {
	border: 0 none;
}

small {
	font-size: 11px;
	color: #999;
}

#menu_container {
	width: 140px;
	padding: 5px;
}

#menu_container div {
	padding: 5px 5px 5px 5px;
} 

#menu_container div a {
	margin-left: 30px;
}
	
#menu_container div:hover {
	background-color: #eee;
	-webkit-border-radius: 3px;
}

#save_bookmark {
	background: url(../images/tag_button_small.png) no-repeat 10px 5px;
}

#my_bookmarks {
	background: url(../images/search-bookmarks.png) no-repeat 10px 5px;
}

#open_delicious {
	background: url(../images/delicious_16.png) no-repeat 10px 5px;
}

#chromicious_options {
	border-top: 1px solid #eee;
	background: url(../images/option_menu_16.png) no-repeat 10px 5px;
}